@import url('https://fonts.googleapis.com/css?family=Open Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

body {
  font-family: Roboto;
}

.remark-slide {
  content-visibility: auto;
}

a {
  text-decoration: underline;
  color: #23395B;
}

iframe {
  loading: "lazy"
}

img {
  loading: "lazy"
}

.inverse {
  background-color: #23395B;
}

.remark-slide-content {
  # background-color: #F9F9F9;
}

.remark-slide-content h1 {
  font-size: 48;
}

strong, h1, h2, h3 {
  color: #23395B;
}

.sc {
  font-variant: small-caps;
}

.remark-code-line {
  font-size: .8em;
  line-height: 1.8em;
}

code.r.hljs.remark-code {
  font-size: .8em;
  line-height: 1.8em;
  position: relative;
  overflow-x: hidden;
  color: black;
}

code.r.hljs.remark-code:hover {
  overflow-x: visible;
  width: 700px;
  border-style: solid;
}

code.remark-inline-code {
    font-family: Fira Code;
    font-size: .8em;
}

.remark-slide-content{
  padding-top: .5em;
  padding-left: 3em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 49%;
}
